body {
	padding-top: 134px;
	height: 1000px;
}
/* Header */
.logo {
	float: left;
}
.navigation{
	float: left;
}
.nav-li {
	float: left;
	margin-top: 55px;
	margin-right: 34px;
}
.clear {
	clear: both;
}
.nav-a {
	color: #707070;
	font-family: "BPG Nino Mtavruli", sans-serif;

}
.active {
	color: #EF0C23;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;

}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
/* Maps */
.img-p {
	position: absolute;
	top: 450px;
	left: 380px;
	color: #EF0C23;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;

}
.geomap {
	position: relative;
	margin-left: 260px;
}
/* Button */
.btn1 {
	margin-left: 621px;
}
.btn {
	background-color: #ec1839;
	font-size: 16.41px;
	font-family: 'Rubik', sans-serif;
	padding: 12px 35px;
	color: #ffffff;
	border-radius: 40px;
	display: inline-block;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;   

}
/* Section 1 */
.post {
	margin-top: 86px;
	margin-left: 136px;
	width: 1330px;
	height: 660px;
}
.postimg {
	float: left;
	width: 630px;
	height: 660px;
}
.h3dev {
	margin-top: 20px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;  
	font-size: 20px;
}
.pdev {
	margin-top: 24px;
	font-size: 20px;
	color: #707070;
}
.readmore {
	float: left;
	color: #EF0C23;
	margin-top: 10px;
	margin-left: 116px;
	font-size: 18px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
span {
	color: #EF0C23;
}
.postimg2 {
	float: right;
	width: 630px;
	height: 660px;
}
.h3bag {
	margin-top: 20px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	font-size: 20px;

}
.pbag {
	margin-top: 24px;
	font-size: 20px;
	color: #707070;
}
.imgbagrat {
	width: 300px;
	height: 400px;
}
.readmore2 {
	float: right;
	margin-right: 116px;
	margin-top: -19px;
	font-size: 18px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	color: #EF0C23;
}
.post2 {
	float: left;
	margin-top: 86px;
}
.postimg3 {
	float: right;
	width: 630px;
	height: 660px;
}